body {
  background: url('../public/images/flight.jpg');
  background-size: cover;
}

.search-item {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  color: #212529;
}

.search-item:hover {
  background-color: #edf3ff;
  color: #4885ff;
  cursor: pointer;
}

.search-item.active {
  background-color: #5384fd;
  color: white;
}
