body {
  background: url('../public/images/flight.jpg');
  background-size: cover;
}

.search-item {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  color: #212529;
}

.search-item:hover {
  background-color: #edf3ff;
  color: #4885ff;
  cursor: pointer;
}

.search-item.active {
  background-color: #5384fd;
  color: white;
}

.drop-down {
  padding: 30px;
  border-radius: 20px;
  font-size: 20px;
  background-color: #edf3ff;
  border: 0;
  box-sizing: border-box;
  width: 100%;
}

.drop-down:focus {
  outline: none;
}

.drop-down:hover {
  background-color: white;
  box-shadow: 2px 7px 18px -4px rgba(0, 0, 0, 0.66);
  transition: all 0.5s;
}

.drop-down-item:hover {
  background-color: #f2f4f5;
  color: #4885ff;
  cursor: pointer;
}
